
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>AMAN SINGH</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/MYPHOTO.jpg' %}" >
					<hr>
					<h4>Hello I'm AMAN SINGH!</h4>
					<p>I love Learning new technology and playing cricket </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>summary</h4>
					<hr>
                    <p>Enthusiastic and goal-oriented computer science graduate looking to pursue a career in the software engineering domain.</p>
                    <p>passionate tech enthusiast | turning code into creative solution</p>
                    <p>Ability to learn things quickly and capable of working in a fast-paced and team-driven environment. </p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/github.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience</h5>
					<hr>
					<p>
						LENDENCLUB - Python Internship
						Mumbai, India
						07/2023 - 08/2023
						•	Analyzed problems and worked with teams to develop solutions.
						•	Understanding project requirements and completing all duties assigned by the Supervisor. Creating API For the system
						•	completed one month training provided by the company
					</p>



					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>
						Skills
 	pogrammingLanguage: Python ,Java
 	Framework : Django
 	Database : MYSQL,POSTGRESQL
 	Operating System : Linux
 	Familiar : Git, HTML .

					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Achivement</h5>
					<hr>
					<p>• Participated in One day Workshop on Android Application Development(Rajiv Gandhi College of Arts, Commerce and Science)</p>
					<p>• Winner Of Quiz Competition Organized in College</p>

				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
					<p>My short term goal is to get a good job in the IT company to utilize my skills in technical terms and to become a good technical partner with the team.</p>
					<p>To enhance good knowledge and practical knowledge from the company to achieve a good carrier opportunity for the future.</P>
				<hr>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>